.App {
  max-width: 90vw;
  width: 100%;
  margin: 0px auto;
}

/* remove red border form outline on firefox */
input:invalid {
  box-shadow: none;
}

@media (min-width: 768px) {
  .App {
    max-width: 80vw;
  }
}

@media (min-width: 1024px) {
  .App {
    max-width: 65vw;
  }
}
