.container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: flex-start; */
}

.formName {
  font-size: 1.5rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  width: 100%;
  height: 25px;
  margin: 2px auto;
  border-radius: 3px;
}

button {
  max-width: 100px;
  width: 100%;
  height: 35px;
  margin: 20px auto;
  border-radius: 5px;
  background: #218380;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-style: none;
}

button:hover {
  cursor: pointer;
  background: #70cad1;
}

@media (min-width: 1024px) {
  .container {
    width: 50vw;
  }
}
