.barCharts {
  width: 100%;
}

@media (min-width: 768px) {
  .barCharts {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .barCharts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
  }
}

@media (min-width: 1300px) {
  .barCharts {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
