.barCharts {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.barChart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

@media (min-width: 1024px) {
  .barCharts {
    width: 50%;
    margin: 0 10px;
  }
}
