.charts {
  width: 100%;
}

.chartsTitle {
  text-align: center;
  margin-top: 0;
}

canvas {
  margin-bottom: 40px;
  /* width: 100% !important; */
  background-color: #dfdfdf;
}

.noData {
  text-align: center;
  text-decoration: none;
  line-height: 2;
  margin: 0 auto;
}

.addLink {
  color: #000;
  background-color: #fcc82b;
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .bar {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pie {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .charts {
    display: flex;
    flex-direction: column;
  }

  .bar {
    flex-direction: row;
    justify-content: space-around;
  }

  .pie {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1350px) {
  .bar {
    flex-direction: column;
  }

  .pie {
    flex-direction: column;
  }
}
