.charts {
  width: 100%;
}

canvas {
  border: 1px solid #3e517a;
  margin-bottom: 40px;
  width: 100% !important;
}

.noData {
  text-align: center;
  text-decoration: none;
  line-height: 2;
  margin: 0 auto;
}

.addLink {
  color: #000;
  background-color: #fcc82b;
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .charts {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
