.charts {
  width: 100%;
}

.chartsTitle {
  text-align: center;
  margin-top: 0;
}

canvas {
  margin-bottom: 40px;
  /* width: 100% !important; */
  background-color: #dfdfdf;
}

.noData {
  text-align: center;
  text-decoration: none;
  line-height: 2;
  margin: 0 auto;
}

.addLink {
  color: #000;
  background-color: #fcc82b;
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .overviewBar {
    display: flex;
    flex-direction: column;
  }

  .overviewPie {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .overviewBar {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .overviewPie {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* @media (min-width: 1300px) {
  .charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
} */
