.pieCharts {
  width: 100%;
}

.pieChart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.pieSelect {
  width: 100%;
  height: 40px;
  margin: 12px auto;
  padding: 0 10px;
  background-color: #aef0ff;
}

@media (min-width: 768px) {
  .pieCharts {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .pieCharts {
    width: 65%;
  }
}
