.pieCharts {
  width: 100%;
}

.pieSelect {
  width: 100%;
  height: 40px;
  margin: 12px auto;
  padding: 0 10px;
  background-color: #aef0ff;
  font-size: 1rem;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.pieCatMonth {
  width: 100%;
}

@media (min-width: 768px) {
  .pieCharts {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .pieCharts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
  }

  .pieCatMonth {
    max-width: 600px;
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .pieCharts {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
  }
}
